@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;700&family=Roboto:wght@300;400;700&display=swap');

.font {
  font-family: $roboto-mono;
  color: getRgbaWhite($white-medium-opacity);
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.film-short-info {
  @extend .font;
  color: getRgbaWhite($white-small-opacity);
  font-size: 13px;
}
