/* variables */

// colors
$dark-pink: #f65261;

$light-red: #ff5555;

$extra-light-grey: #7a7878;
$light-grey: #555555;
$grey: #424242;
$dark-grey: #232323;

$white-small-opacity: 0.6;
$white-medium-opacity: 0.8;
$white: #FFF;

$light-green: #A1E66F;

// fonts
$roboto: 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;


/* functions */
@function getRgbaGrey($opacity) {
  @return rgba(42, 42, 42, $opacity);
}

@function getRgbaWhite($opacity) {
  @return rgba(255, 255, 255, $opacity);
}

@function getRgbaBlack($opacity) {
  @return rgba(0, 0, 0, $opacity);
}
