/* variables */

// colors
$dark-pink: #f65261;

$light-red: #ff5555;

$light-grey: #555555;
$grey: #424242;
$dark-grey: #232323;

$white: #FFF;

// fonts
$roboto: 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;


/* functions */
@function getRgbaGrey($opacity) {
  @return rgba(42, 42, 42, $opacity);
}
